.buttonQuestion {
  border: 1px solid red;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 4px;
  margin-right: 4px;
}

.buttonAnswer {
  border: 1px solid red;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 4px;
}

.slideButton {
  border: 1px solid red;
  margin: 0 4px;
  border-radius: 4px;
}

.add {
  cursor: pointer;
}
